Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
PubkeyAuthentication yes
PasswordAuthentication yes
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM no
AllowTcpForwarding no
X11Forwarding no
Subsystem sftp internal-sftp
Match User relaytest
    ForceCommand internal-sftp
    AllowTcpForwarding no
